<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        const message = `[[${message}]]`
        alert(message);

        // alert 띄우고 화면 변경
        // 실패 원인 메세지 띄운 후 로그인 화면으로
        window.location.replace("/auth/login")
    </script>
</body>
</html>